<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- valid options: Ado.Net, Linq2Sql, EntityFramework, ORMLite -->
    <add key="DataProvider" value="ormlite" />
    <!-- valid options: PostgreSql, SqlServer -->
    <add key="TypeDataBase" value="PostgreSql" />
    <!--<Name of skin style/>-->
    <add key="AppSkinStyle" value="Office 2016 Colorful" />
    <!--<Allow UDP messages/>-->
    <add key="AllowMessagesUdp" value="false" />
    <!--<Ip Server UDP/>-->
    <add key="LogServerIP" value="192.168.1.240" />
    <!--<Version (PRINCIPAL/CLINICA)/>-->
    <add key="VersionApp" value="PRINCIPAL" />

  </appSettings>
  <connectionStrings>
    <!--(local) InnteccErp-->
    <!--<add name="MainConnection" connectionString="kcBbWcp/vz7vrIQm9k5btzjHL3RfkunPCpzLJdqPyre9kwHnlGlvGNCfm5WJl6+59dSdwO61O0STZaxS7nMexCfVVKuaW2TGtQ2xH4IwAG2hpSstmxhDSew/sfCAIrkL"/>-->
    
    <!--(local) Servidor melo-->
    <!--<add name="MainConnection" connectionString="LEiD7vTqE1/8k6vca9t0EvaKkIHorq7m0Q7ThT+7hX/YZBJTjy+GvlTtFI/aDSjS5WWlhjCXKkGLloFp473NugoA4xFv0/XWdvRfZR3X4ywN0apvFiCJZ1cgQXoEWy9Styypkn4eFnMB6VHHAOTNHw==" />-->

    <!--(local) Claro local-->
    <add name="MainConnection" connectionString="kcBbWcp/vz7vrIQm9k5bt+RE102Ynt6fJySgscgkapakDTKvrNqdCpr5bIdR8kCPod1SPhhmxkvJVU/zdnFr0yqZ+8Uuo+YD0P+O8vQ/mEUpkIbTvS2uJvT0y2Mmnx8m" />
  
  
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Npgsql;ServiceStack;DevExpress;FastReport.Net" />
    </assemblyBinding>
  </runtime>

  
</configuration>