update compras.cpcompradet
	set calcularitem = true;

update compras.ordencompradet
	set calcularitem = true;

update compras.requerimientodet
	set calcularitem = true;

update almacen.entradaalmacendet
	set calcularitem = true;

update almacen.salidaalmacendet
	set calcularitem = true;

update ventas.cotizacionclientedet
	set calcularitem = true;

update ventas.ordendeventadet
	set calcularitem = true;

update almacen.guiaremisiondet
	set calcularitem = true;